@font-face {
font-family: "OCRA Medium";
src: url("fonts/OCRAMedium.ttf");
}
@font-face {
font-family: "RobotoCondensed Bold";
src: url("fonts/RobotoCondensed-Bold.ttf");
}
@font-face {
font-family: "Roboto Bold";
src: url("fonts/Roboto-Bold.ttf");
}
@media screen and (max-width: 575px) {
    h1 {
		text-align: center;
		font-size: 3.5rem;
		}
	li {	
		width: 10rem;
		height: 2rem;
		line-height: 2rem;
		font-size: 1.2rem;
		font-family: 'RobotoCondensed Bold', Arial, sans-serif;
		}
	i {
		font-size: 1rem;
		}
	article{
		font-size: 0.8rem;
		margin-top: 0.2rem;
		opacity: 0.8;
		text-align: justify;
		}
	
	footer {
		font-size: 0.5rem;
		}
	.fadeOut {
		text-align: center;
		}
	.responsive {
		width: 100%;
		height: auto;
	}
	}
@media screen and (min-width: 576px) {
    h1 {
		font-size: 5.6rem;
		text-align: center;
		}
	li  {	
		width: 8.4rem;
		height: 2rem;
		line-height: 2rem;
		font-size: 1.5rem;
		font-family: 'Roboto Bold', Arial, sans-serif;
		}
	i {
		font-size: 1.2rem;
		}
	article {
		font-size: 0.9rem;
		opacity: 0.8;
		}
	footer {
		font-size: 0.5rem;
		}
	.fadeOut {
		text-align: center;
		}
	.responsive {
		width: 100%;
		height: auto;
	}
	}
@media screen and (min-width: 768px) {
    h1 {
		text-align: right;
		font-size: 3.3rem;
		}
	nav { margin-top: 0;
		}
	li {	
		font-family: 'Roboto Bold', Arial, sans-serif;
		width: 5.2rem;
		height: 2rem;
		line-height: 2rem;
		font-size: 1rem;
		}
	i {
		font-size: 1.4rem;
		}
	article {
		font-size: 1rem;
		opacity: 0.7;
		}
	.col-spacer {
		display: block;
		height: 35%;
		}
	.col-spacer_2 {
		height: 15%;
		}
	footer {
		font-size: 0.6rem;
		}
	.fadeOut {
		text-align: left;
		}
	.responsive {
		width: 100%;
		height: auto;
	}
	}
@media screen and (min-width: 992px) {
	header {
		margin-top: -10px;
	}
    h1 {
		text-align: right;
		font-size: 4.9rem;
		}
	li {	
		height: 2.1rem;
		width: 6.2rem;
		font-family: 'Roboto Bold', Arial, sans-serif;
		font-size: 1.2rem;
		}
	i {
		font-size: 1.6rem;
	}
	article{
		font-size: 0.9rem;
		opacity: 0.6;
		}
	.col-spacer {
		display: block;
		height: 35%;
		}
	.col-spacer_2 {
		height: 15%;
		}
	footer {
		font-size: 0.7rem;
		}
	.responsive {
		width: 100%;
		height: auto;
	}		
	}
@media screen and (min-width: 1200px) {
    h1 {
		font-size: 5.5rem;
		text-align: right;
		}
	h2 {
		font-size: 1.2rem;
		}
	li {	
		line-height: 2.4rem;
		width: 6.7rem;
		height: 2.4rem;
		font-family: 'Roboto Bold', Arial, sans-serif;
		font-size: 1.8rem;
		}
	i {
		font-size: 1.7rem;
		}
	article {
		font-size: 0.8rem;
		opacity: 0.6;
		}
		.col-spacer_2 {
		height: 25%;
		}
	footer {
		font-size: 1rem;
		}
	.responsive {
		width: 47%;
		height: auto;
	}
	.fade-in img {
		margin-left: 25%;
		}
}
@-webkit-keyframes fadeOut {
		0% {opacity: 0;}
		100% {opacity: 0.8;}
		}
         
@keyframes fadeOut {
        0% {opacity: 0;}
        100% {opacity: 0.8;}
        }
         
.fadeOut {
        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
        }

	
html, body {
	width: 100%; 
	margin: 0;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: black;
	}

header {
}
h1 {
	font-family: 'OCRA Medium', Arial, sans-serif;
	text-shadow: 1px 0px 9px rgba(130, 130, 130, 1);
	color: white;
	}
h2 {
	font-family: 'Roboto Bold', Arial, sans-serif;
	}
ul {
	display: flex;
	margin: 0; 
	padding: 0;
	}
li {	
	list-style-type: none;
	text-align: center;
	margin: 0; 
	padding: 0;
	margin-top: 2%;
	}
li span:hover {
	text-decoration: none;
	color: #FFFFFF;
	background: #E82B01;
	background: -moz-linear-gradient(-45deg, #E82B01 0%, #D02A04 100%);
	background: -webkit-linear-gradient(-45deg, #E82B01 0%,#D02A04 100%);
	background: linear-gradient(135deg, #E82B01 0%,#D02A04 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E82B01', endColorstr='#D02A04',GradientType=1 );
	opacity: 0.9;
	}
a {
	color: white;
	}
a:hover {
	color: white;
	text-decoration: none;
	}	
i { 
	color: white;
	opacity: 0.8;
	}
i:hover {
	opacity: 1;
	}
article {
	-webkit-animation-duration: 1s;animation-duration: 1s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
	color: #FFFFFF;
	background: #2d2d2d; /* Old browsers */
	background: -moz-linear-gradient(top, #2d2d2d 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #2d2d2d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #2d2d2d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	}
footer {
	color: gray;
	text-align: center;
	}
video {
	-webkit-animation-duration: 2s;
			animation-duration: 2s;
    -webkit-animation-fill-mode: both;
			animation-fill-mode: both;
	}
button {
	background-color: #E82B01;
	border: none;
	text-decoration: none;
	font-family: 'Roboto Bold', Arial, sans-serif;
	-webkit-animation-duration: 1s;animation-duration: 1s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
	}
.current {
	color: #E82B01;
	opacity: 0.5;
	}
.responsive-full {
	width: 100%;
	height: auto;
	}
		
table {
	border: none;
	}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.2s both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.2s both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.kenburns-top {
	-webkit-animation: kenburns-top 5s ease-out both;
	        animation: kenburns-top 5s ease-out both;
}
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.1) translateY(-5px);
            transform: scale(1.1) translateY(-5px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.1) translateY(-5px);
            transform: scale(1.1) translateY(-5px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
.fade-in img {
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
	position:absolute;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
#image2 {
    -webkit-animation-delay: -4s;
			animation-delay: -4s;
}
#image3 {
    -webkit-animation-delay: -2s;
			animation-delay: -2s;
}
