@font-face {
font-family: "OCRA Medium";
src: url("fonts/OCRAMedium.ttf");
}
@font-face {
font-family: "RobotoCondensed Bold";
src: url("fonts/RobotoCondensed-Bold.ttf");
}
@font-face {
font-family: "Roboto Bold";
src: url("fonts/Roboto-Bold.ttf");
}
h1 {
	font-family: 'OCRA Medium', Arial, sans-serif;
	font-size: 3rem;
}
h2 {
	font-family: 'Roboto Bold', Arial, sans-serif;
}
.col-lg-12, .col-lg-6 {
	border-style: solid;
	border-width: 2px;
	border-color: black;
}
ul {
	display: flex;
	margin: 0; 
	padding: 0;
}
li {	
	font-family: 'RobotoCondensed Bold', Arial, sans-serif;
	list-style-type: none;
	text-align: center;
	width: 5rem;
	height: 3rem;
	line-height: 3rem;
	margin: 0; 
	padding: 0;
}
li:hover {
	text-decoration: none;
	background: #ff3232;
	background: -moz-linear-gradient(top, #ff3232 0%, #f42222 45%, #ff0000 100%);
	background: -webkit-linear-gradient(top, #ff3232 0%,#f42222 45%,#ff0000 100%);
	background: linear-gradient(to bottom, #ff3232 0%,#f42222 45%,#ff0000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#ff0000',GradientType=0 );
	
}
a {
	color: black;
}
a:hover {
	color: black;
	text-decoration: none;
}
i {
	font-size: 2.5rem; 
	color: black;
}
i:hover {
	color: #ff3232;
	}