@font-face {/*Font used for <h1> and <h2>: band's name*/
font-family: "ManMachine";
src: url("fonts/ManMachine.ttf");
}
@font-face {/*Main navigation bar font, also buttons at high resolution*/
font-family: "Roboto Thin";
src: url("fonts/Roboto-Thin.ttf");
}
@font-face {/*Font used for table in tour.html at certain resolutions only*/
font-family: "Roboto Bold";
src: url("fonts/Roboto-Bold.ttf");
}
@font-face {
font-family: "Roboto Regular";/*Default font*/
src: url("fonts/Roboto-Regular.ttf");
}
@font-face {
font-family: "Roboto Light";/*Used in dropdown, table and and email form*/
src: url("fonts/Roboto-Light.ttf");
}
@media screen and (max-width: 575px) and (orientation: landscape){
	/**
	 *No mobile devices use such low resolution in landscape mode.
	 *Used in responsive resizing.
	 */
	h1 {
		font-size: 64px;/*Band's name, index.html only*/
	}
	h2 {
		font-size: 96px;/**
						 *Band's name used in all sub-pages, no background image so can be larger
						 *In some modes smaller to prevent from pushing other elements off the screen
						 *Depends on the size of navigation button & if navigation bar visible
	 					 */
	}
	ul {
		display: none;/*Navigation bar hidden on small screens*/
	}
	footer {
		font-size: 8px;/*Adjusted footer size*/
	}
	p {
		max-width: 90%;/*Paragraph fills most of the screen width*/
	}
	.responsive {/*Used to define video size*/
		width: 80%;/*Fills percentage of the screen, keeping correct screen aspect ratio*/
		height: auto;/*Auto adjusted height, prevents errors*/
	}
	.responsive-full {/*Used for album cover in music.html*/
		max-width: 66%;
	}
	.header {/*Stretches header element, so it covers whole viewport, used only in index.html*/
		height: 105%;
	}
	.band_name {/*Attaches row of band's name and email form to bottom of viewport, used only in index.html*/
		bottom: 0;
	}
	.dropbtn {/*Mobile screens navigation button*/
		display: block;
		font-size: 30px;
	}
	.form_control {/*Defines size of email form*/
		font-size: 11px;
	}
	.table {/*Tweaks to responsive table preventing display issues*/
		max-width: 90%;
		font-size: 10px;
	}
}
@media screen and (max-width: 575px) and (orientation: portrait) {
	/*Small screens like Galaxy S3, iPhone 4, Nexus 5*/
	/**
	 *Adjusted font sizes and width of elements
	 */
    h1 {
		font-size: 64px;/*Band's name, index.html only*/
	}
	h2 {
		font-size: 64px;/**
						 *Band's name used in all sub-pages, no background image so can be larger
						 *In some modes smaller to prevent from pushing other elements off the screen
						 *Depends on the size of navigation button & if navigation bar visible
	 					 */
	}
	ul {
		display: none;/*Navigation bar hidden on small screens*/
	}
	footer {
		font-size: 8px;/*Adjusted footer size*/
	}
	p {
		max-width: 90%;/*Paragraph fills most of the screen width*/
	}
	.responsive {/*Used to define video size, in Portrait orientation even on small screens, full video is displayed without scrollbar*/ 
		width: 100%;
		height: auto;
	}
	.responsive-full {/*Used for album cover in music.html*/
		max-width: 66%;
	}
	.header {/**
			  *Screen long & narrow, 
			  *to display background image (which is wide) behind header container
			  *it must fill only half the viewport
			  */
		height: 50%;
	}
	.band_name {/*Attaches row of band's name and email form to bottom of viewport, used only in index.html*//*Element higher up the viewport to not overlap with paragraph, since .header is only 50% of the area*/
		bottom: 55%;
	}
	/*More font resizing*/
	.dropbtn {/*Mobile screens navigation button*/
		display: block;
		font-size: 40px;
	}
	.form_control {/*Defines size of email form*/
		font-size: 10px;
	}
	.table {/*Tweaks to responsive table preventing display issues*/
		max-width: 90%;
		font-size: 10px;
	}
}
@media screen and (min-width: 576px) and (orientation: landscape) {
	/*Landscape orientation of Galaxy S5, BlackBerry Z30, Galaxy Note 3*/
	/**
	 *Adjusted font sizes and width of elements
	 */
    h1 {
		font-size: 86px;/*Band's name, index.html only*/
	}
	h2 {
		font-size: 80px;/**
						 *Band's name used in all sub-pages, no background image so can be larger
						 *In some modes smaller to prevent from pushing other elements off the screen
						 *Depends on the size of navigation button & if navigation bar visible
	 					 */
	}
	ul {
		display: none;/*Navigation bar hidden on small screens*/
	}
	footer {
		font-size: 9px;/*Adjusted footer size*/
	}
	p {
		max-width: 90%;/*Paragraph fills most of the screen width*/
	}
	.responsive {/*Used to define video size*/
		width: 80%;
		height: auto;
	}
	.responsive-full {/*Used for album cover in music.html*/
		max-width: 66%;
	}
	.header {/*Stretches header element, so it covers whole viewport, used only in index.html*/
		height: 105%;
	}
	.band_name {/*Attaches row of band's name and email form to bottom of viewport, used only in index.html*/
		bottom: 0;
	}
	.dropbtn {/*Mobile screens navigation button*/
		display: block;
		font-size: 50px;
	}
	.form_control {/*Defines size of email form*/
		font-size: 12px;
	}
}
@media screen and (min-width: 576px) and (orientation: portrait) {/*Nexus 7*/
	/**
	 *Adjusted font sizes and width of elements
	 */
    h1 {
		font-size: 104px;/*Band's name, index.html only*/
	}
	h2 {
		font-size: 144px;/**
						 *Band's name used in all sub-pages, no background image so can be larger
						 *In some modes smaller to prevent from pushing other elements off the screen
						 *Depends on the size of navigation button & if navigation bar visible
	 					 */
	}
	ul {
		display: none;/*Navigation bar hidden on small screens*/
	}
	footer {
		font-size: 9px;/*Adjusted footer size*/
	}
	p {
		max-width: 80%;/*Paragraph fills most of the screen width*/
	}
	.responsive {/*Used to define video size*/
		width: 100%;
		height: auto;
	}
	.responsive-full {/*Used for album cover in music.html*/
		max-width: 66%;
	}
	.header {/*Stretches header element, so it covers whole viewport, used only in index.html*/
		height: 70%;
	}
	.band_name {/*Attaches row of band's name and email form to bottom of viewport, used only in index.html*/
		bottom: 30%;
	}
	.dropbtn {/*Mobile screens navigation button*/
		display: block;
		font-size: 50px;
	}
	.form_control {/*Defines size of email form*/
		font-size: 13px;
		margin-bottom: 10px;/*Prevents from paragraph getting too close to email form*/
	}
}
@media screen and (min-width: 768px) and (orientation: landscape) {/*Used with iPhone X*/
	/**
	 *Adjusted font sizes and width of elements
	 */
    h1 {
		font-size: 80px;/*Band's name, index.html only*/
	}
	h2 {
		font-size: 120px;/**
						 *Band's name used in all sub-pages, no background image so can be larger
						 *In some modes smaller to prevent from pushing other elements off the screen
						 *Depends on the size of navigation button & if navigation bar visible
	 					 */
	}
	ul {
		display: none;/*Navigation bar hidden on small screens*/
	}
	p {
		max-width: 60%;/*Paragraph fills more than half of the screen width*/
	}
	footer {
		font-size: 10px;/*Adjusted footer size*/
	}
	.responsive {/*Used to define video size*/
		width: 100%;
		height: auto;
	}
	.responsive-full {/*Used for album cover in music.html*/
		max-width: 66%;
	}
	.header {/*Stretches header element, so it covers whole viewport, used only in index.html*/
		height: 105%;
	}
	.band_name {/*Attaches row of band's name and email form to bottom of viewport, used only in index.html*/
		bottom: 0;
	}
	.dropbtn {/*Mobile screens navigation button*/
		display: block;
		font-size: 60px;
	}
	.form_control {/*Defines size of email form*/
	font-size: 14px;
	}
}
@media screen and (min-width: 768px) and (orientation: portrait) {/*iPad, iPad Mini, Kindle Fire in portrait mode*/
	/**
	 *Adjusted font sizes and width of elements
	 */
    h1 {
		font-size: 160px;/*Band's name, index.html only*/
	}
	h2 {
		font-size: 144px;/**
						 *Band's name used in all sub-pages, no background image so can be larger
						 *In some modes smaller to prevent from pushing other elements off the screen
						 *Depends on the size of navigation button & if navigation bar visible
	 					 */
	}
	ul {
		display: none;/*Navigation bar hidden on small screens*/
	}
	p {
		max-width: 70%;/*Paragraph fills more than half of the screen width*/
	}
	footer {
		font-size: 10px;/*Adjusted footer size*/
	}
	.responsive {/*Used to define video size*/
		width: 100%;
		height: auto;
	}
	.responsive-full {/*Used for album cover in music.html*/
		max-width: 66%;
	}
	.header {/*Stretches header element, so it covers certain part viewport, used only in index.html*/
		height: 80%;
	}
	.band_name {/*Attaches row of band's name and email form to bottom of viewport, used only in index.html*/
		bottom: 20%;
	}
	.dropbtn {/*Mobile screens navigation button*/
		display: block;
		font-size: 60px;
	}
	.form_control {/*Defines size of email form*/
	font-size: 14px;
	}
}
@media screen and (min-width: 992px) and (orientation: landscape) {/*Tablets in landscape mode*/
	/**
	 *Adjusted font sizes and width of elements
	 */
    h1 {
		font-size: 176px;/*Band's name, index.html only*/
	}
	h2 {
		font-size: 120px;/**
						 *Band's name used in all sub-pages, no background image so can be larger
						 *In some modes smaller to prevent from pushing other elements off the screen
						 *Depends on the size of navigation button & if navigation bar visible
	 					 */
	}
	ul { 
		display: flex;/*Navigation bar hidden on small screens*/
	}
	li {/*List elements styling*/
		margin-right: 25px;
		height: 34px;
		width: 99px;
		font-family: "Roboto Thin", Arial, sans-serif;
		font-size: 26px;
	}
	p {
		max-width: 55%;/*Paragraph fills more than half of the screen width*/
	}
	footer {
		font-size: 9px;/*Adjusted footer size*/
	}
	.responsive {/*Used to define video size*/
		max-width: 42%;
		height: auto;
	}
	.responsive-full {/*Used for album cover in music.html*/
		max-width: 42%;
	}
	.header {/*Stretches header element, so it covers certain part viewport, used only in index.html*/
		height: 105%;
	}
	.band_name {/*Attaches row of band's name and email form to bottom of viewport, used only in index.html*/
		bottom: 0;
	}
	.dropbtn {/*Mobile screens navigation button*/
		display: none;
	}
	.form_control {/*Defines size of email form*/
	font-size: 14px;
	}
}
@media screen and (min-width: 992px) and (orientation: portrait) {/*iPad Pro*/
	/**
	 *Adjusted font sizes and width of elements
	 */
    h1 {
		font-size: 176px;/*Band's name, index.html only*/
	}
	h2 {
		font-size: 128px;/**
						 *Band's name used in all sub-pages, no background image so can be larger
						 *In some modes smaller to prevent from pushing other elements off the screen
						 *Depends on the size of navigation button & if navigation bar visible
	 					 */
	}
	ul { 
		display: flex;/*Navigation bar hidden on small screens*/
	}
	li {/*List elements styling*/
		margin-right: 25px;
		font-family: "Roboto Thin", Arial, sans-serif;
		font-size: 26px;
	}
	p {
		max-width: 55%;/*Paragraph fills more than half of the screen width*/
	}
	footer {
		font-size: 9px;/*Adjusted footer size*/
	}
	.responsive {/*Used to define video size*/
		max-width: 42%;
		height: auto;
	}
	.responsive-full {/*Used for album cover in music.html*/
		max-width: 42%;
	}
	.header {/*Stretches header element, so it covers certain viewport, used only in index.html*/
		height: 80%;
	}
	.band_name {/*Attaches row of band's name and email form to bottom of viewport, used only in index.html*/
		bottom: 25%;
	}
	.dropbtn {/*Mobile screens navigation button*/
		display: none;
	}
	.form_control {/*Defines size of email form*/
	font-size: 14px;
	}
}
@media screen and (min-width: 1200px) {/*Wide screens: laptop, desktop PC, iPad Pro landscape mode*/
	/**
	 *Adjusted font sizes and width of elements
	 */
    h1 {
		font-size: 224px;/*Band's name, index.html only*/
	}
	h2 {
		font-size: 140px;/**
						 *Band's name used in all sub-pages, no background image so can be larger
						 *In some modes smaller to prevent from pushing other elements off the screen
						 *Depends on the size of navigation button & if navigation bar visible
	 					 */
	}
	ul { 
		display: flex;/*Navigation bar hidden on small screens*/
	}
	li {/*List elements styling*/
		margin-right: 40px;
		line-height: 38px;
		font-family: "Roboto Thin", Arial, sans-serif;
		font-size: 29px;
	}
	p {
		max-width: 42%;/*Paragraph fills less than half of the screen width*/
	}
	footer {
		font-size: 14px;/*Adjusted footer size*/
	}
	.responsive {/*Used to define video size*/
		max-width: 42%;
		height: auto;
	}
	.responsive-full {/*Used for album cover in music.html*/
		max-width: 33%;
	}
	.header {/*Stretches header element, so it covers whole viewport, used only in index.html*/
		height: 105%;
	}
	.band_name {/*Attaches row of band's name and email form to bottom of viewport, used only in index.html*/
		bottom: 0;
	}
	.dropbtn {/*Mobile screens navigation button*/
		display: none;
	}
	.form_control {/*Defines size of email form*/
		font-size: 16px;
	}
	.table {/*Tweaks to responsive table preventing display issues*/
		max-width: 70%;
		font-size: 14px;
		font-family: "Roboto Light", Arial, sans-serif;
	}
}
.fadeOut {/*Fade out animation used on buttons and video player*/
        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
        text-align: center;
        }
@-webkit-keyframes fadeOut {/*Keyframes for fade out animation*/
		0% {opacity: 0;}
		100% {opacity: 0.8;}
}

@keyframes fadeOut {/*Keyframes for fade out animation*/
        0% {opacity: 0;}
        100% {opacity: 0.8;}
}
html, body {
	font-family: 'Roboto Regular', Arial, sans-serif;/*Default custom font*/
	height: 100%;/*Used to prevent elements overlapping*/

	background-color: #000000;
}
h1 {/*Header basic styling*/
	font-family: 'ManMachine', Arial, sans-serif;
	text-shadow: 1px 0px 9px rgba(130, 130, 130, 1);
	color: #FFFFFF;
}
h2 {/*Header basic styling*/
	font-family: 'ManMachine', Arial, sans-serif;
	text-shadow: 1px 0px 9px rgba(130, 130, 130, 1);
	color: #FFFFFF;
}
li {/*List elements styling*/
	list-style-type: none;
	text-align: center;
	margin-top: 2%;
}
li span:hover {/*List elements styling when mouse over it*/
	text-decoration: none;
	color: #FFFFFF;
	background: #AF1400;
	background: -moz-linear-gradient(-45deg, #AF1400 0%, #D02A04 100%);
	background: -webkit-linear-gradient(-45deg, #AF1400 0%,#D02A04 100%);
	background: linear-gradient(135deg, #AF1400 0%,#D02A04 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AF1400', endColorstr='#D02A04',GradientType=1 );
	opacity: 0.7;
}
a {/*Used on navigation bar to prevent displaying blue coloured anchors*/
	color: #FFFFFF;
}
a:hover {/*Used on navigation bar to prevent displaying blue underline*/
	text-decoration: none;
}
p {	
	font-size: 13px;/*Same font size in every screen mode*/
	margin: auto;
	color: #969696;
	margin-top: 8px;
	margin-bottom: 8px;
	-webkit-hyphens: auto;/*Hyphenation used to make paragraph look solid and blocky*/
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	text-align: justify;/*Same reason why hyphenation was used*/
}
i {
	padding-top: 11px;/*Prevents from being on top edge of viewport*/
	color: #FFFFFF;
	opacity: 1;/*Used to distinguish from i:hover*/
}
i:hover {/*Used to distinguish from i*/
	opacity: 0.8;
}
footer {/*Footer styling*/
	color: #D3D3D3;
	text-align: center;
}
video {/*Fade in animation styling*/
	-webkit-animation-duration: 2s;
			animation-duration: 2s;
    -webkit-animation-fill-mode: both;
			animation-fill-mode: both;
}
/*Button styling*/
button {
	background-color: #AF1400;
	border: 3px solid #AF1400;
	color: #FFFFFF;
	text-decoration: none;
	font-family: "Roboto Thin", Arial, sans-serif;
	-webkit-animation-duration: 1s;animation-duration: 1s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
}
button:focus {
	outline: 0;
	color: #000000;
	background-color: #FFFFFF;
	border: 3px solid #FFFFFF;
}
button:hover {
	cursor: pointer;/*Cursor change to make it more clear*/ 
}
.current {/*Navigation bar's currently visisted page indicator*/ 
	color: #AF1400;
	opacity: 0.5;
}
.header {/*Stretches header element, so it covers whole viewport, used only in index.html*/
	background-image: url("https://s3.eu-west-2.amazonaws.com/kraftwerkband/band.jpg");/*Amazon Web Services for large files*/
	background-repeat: no-repeat;/*Makes background image display only once*/
  	background-size: 100%;
	width: 100%;
}
.band_name {/*Attaches row of band's name and email form to bottom of viewport, used only in index.html*/
	position: absolute;
	max-width: 100%;
	width: 100%;
}
.form_control {/*Defines size of email form*/
	text-align: center;
	color: #FFFFFF;
	width: 100%;
	font-family: "Roboto Light", Arial, sans-serif;
}
/*Dropdown menu list styling*/
.my_dropdown {
    position: relative;
    display: inline-block;
	justify-content: space-between;
}
.my_dropdown-content {
    display: none;
    position: absolute;
    font-family: "Roboto Light";
    right: 0;
    background-color: #AF1400;
    opacity: 0.9;
    min-width: 160px;
    z-index: 1;
}
.my_dropdown-content a {
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.my_dropdown-content a:hover {
	background-color: #FFFFFF;
	color: #000000;
}
.my_dropdown:hover .my_dropdown-content {
    display: block;
}
/*End of dropdown styling*/
.table {/*Tweaks to responsive table preventing display issues*/
	margin: 0 auto;/*Center table in tour.html*/
}
.dropbtn {/*Mobile screens navigation(bars symbol) styling*/
	background-color: Transparent;
	color: #FFFFFF;
	border: none;
}
.dropbtn:focus {/*Navigation's styling after activation*/
	background-color: Transparent;
	color: #FFFFFF;
	opacity: 0.8;
	border: none;
}
.dropbtn:hover {/*Navigation's styling on hover*/
	background-color: Transparent;
	color: #FFFFFF;
	opacity: 0.8;
	border: none;
}